.header {
    background-image: url('../../assets/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 40px;
}

.navbar a {
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #FFFFFF;
}

.navbar img {
    position: relative;
    left: 45px;
    top: -10px;
}

.navbar input {
    padding: 12px 30px;
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;
    position: relative;
    left: -20px;
}

.navbar button {
    font-weight: bold;
    align-items: center;
    padding: 12px 30px;
    background: #FFFFFF;
    color: #6600FF;
    border-radius: 35px;
    border: 1px solid #E8E8E8;
    position: relative;
    left: -50px;
}

.header-group {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 130px;
}

.header-heading {
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.header-before {
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.header-after {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top: 20px;
}

.header-group button {
    padding: 5px 30px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 35px;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #6600FF;
    margin-top: 50px;
}

.header-group img {
    position: relative;
    top: 150px;
}

@media screen and (max-width: 1080px) {
    .navbar {
        flex-direction: column;
    }
    
    .navbar img {
        left: 0%;
    }

    .navbar input,
    .navbar button {
        left: 0%;
    }

    .mac {
        width: 95%;
    }
}