.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 950px;
}

.test img {
    max-width: 850px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.test p {
    font-size: 46px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.test button {
    font-weight: bold;
    align-items: center;
    padding: 10px 40px;
    background: #6600FF;
    color: #FFFFFF;
    border-radius: 35px;
    border: 1px solid #6600FF;
}

@media screen and (max-width: 1080px) {
    .test img {
        width: 90%;
    }
}